<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ruslan\Brand\Api\DataRepositoryInterface" type="Ruslan\Brand\Model\DataRepository" />
    <preference for="Ruslan\Brand\Api\Data\DataInterface" type="Ruslan\Brand\Model\Data" />
    <virtualType name="BrandDataGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SampleDataGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Ruslan\Brand\Model\Resource\Data\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BrandDataGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ruslan\Brand\Model\ResourceModel\Data\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ruslan_brand_entity</argument>
            <argument name="resourceModel" xsi:type="string">Ruslan\Brand\Model\ResourceModel\Data</argument>
        </arguments>
    </virtualType>


    <virtualType name="Ruslan\Brand\BrandImageUpload" type="Ruslan\Brand\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">brand/tmp</argument>
            <argument name="basePath" xsi:type="string">brand</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ruslan\Brand\Controller\Adminhtml\Data\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ruslan\Brand\BrandImageUpload</argument>
        </arguments>
    </type>


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brand_data_grid_data_source" xsi:type="string">Ruslan\Brand\Model\ResourceModel\Data\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ruslan\Brand\Controller\Adminhtml\Data\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 record(s) have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting record(s).</argument>
        </arguments>
    </type>
    <type name="Ruslan\Brand\Controller\Adminhtml\Data\MassDisable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 data have been disabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while disabling selected data.</argument>
        </arguments>
    </type>
    <type name="Ruslan\Brand\Controller\Adminhtml\Data\MassEnable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 data have been enabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while enabling data.</argument>
        </arguments>
    </type>
</config>
